{% extends '::backend_base.html.twig' %}

{% block body %}
  {% include 'BackEndBundle:partial:_header.html.twig' %}

  <a class="btn btn-primary" href="{{ path('back_end_product_new') }}">
    New Product
  </a>
  <span>Total products: {{ pagination.getTotalItemCount }}</span>
  <table class="table">
    <thead>
    <th>{{ knp_pagination_sortable(pagination, 'Id', 'product.id') }}</th>
    <th>Image</th>
    <th>{{ knp_pagination_sortable(pagination, 'Name', 'product.name') }}</th>
    <th>{{ knp_pagination_sortable(pagination, 'Rating', 'product.rating') }}</th>
    <th>{{ knp_pagination_sortable(pagination, 'Category', 'product.category.name') }}</th>
    <th>{{ knp_pagination_sortable(pagination, 'Price', 'product.price') }}</th>
    <th>Actions</th>
    </thead>
    <tbody>
    {% for product in pagination %}
      <tr>
        <td class="col-md-1">{{ product.id }}</td>
        <td class="col-md-1"><img class="product-thumbnail" src="{{ product.imageUrl }}" alt="product image"></td>
        <td class="col-md-2">{{ product.name }}</td>
        <td class="col-md-2">{{ product.rating }}</td>
        <td class="col-md-2">{{ product.category.name }}</td>
        <td class="col-md-1">{{ product.price }}</td>
        <td class="col-md-3">
          <form action="{{ path('back_end_product_delete') }}" method="POST">
            <input type="hidden" name="product_id" value="{{ product.id }}">
            <div class="btn-group">
              <a class="btn btn-default" href="{{ path('back_end_product_edit', {'id': product.id}) }}">
                <span class="glyphicon glyphicon-edit" aria-hidden="true"> Edit</span>
              </a>
              <button class="btn btn-danger" type="submit">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"> Delete</span>
              </button>
            </div>
          </form>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  <div class="row">
    {{ knp_pagination_render(pagination) }}
  </div>
{% endblock %}
