{% extends '::base.html.twig' %}

{% block body %}
  {% include 'BackEndBundle:partial:_header.html.twig' %}
  <a class="btn btn-primary" href="{{ path('back_end_product_new') }}">
    New Product
  </a>
  <table class="table">
    <thead>
    <th>Id</th>
    <th>Image</th>
    <th>Name</th>
    <th>Category</th>
    <th>Price</th>
    <th>Actions</th>
    </thead>
    <tbody>
    {% for product in products %}
      <tr>
        <td class="col-md-1">{{ product.id }}</td>
        <td class="col-md-1"><img class="product-thumbnail" src="{{ product.imageUrl }}" alt="product image"></td>
        <td class="col-md-3">{{ product.name }}</td>
        <td class="col-md-2">{{ product.category.name }}</td>
        <td class="col-md-2">{{ product.price }}</td>
        <td class="col-md-3">
          <form action="{{ path('back_end_product_delete') }}" method="POST">
            <input type="hidden" name="product_id" value="{{ product.id }}">
            <div class="btn-group">
              <a class="btn btn-default" href="{{ path('back_end_product_edit', {'id': product.id}) }}">
                <span class="glyphicon glyphicon-edit" aria-hidden="true"> Edit</span>
              </a>
              <button class="btn btn-danger" type="submit">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"> Delete</span>
              </button>
            </div>
          </form>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}
