{% extends '::base.html.twig' %}

{% block body %}
    {% include 'BackEndBundle:partial:_header.html.twig' %}
    <h2>This is product list action</h2>
    {% for product in products %}

        <h3>{{ product.id }} {{ product.name }}</h3>
        <p>{{ product.description }}</p>
        <p>{{ product.price }}</p>
        <p>Category: {{ product.category.name }}</p>
        <a href="{{ path('back_end_product_edit', {'id': product.id}) }}">Edit</a> |

        <form action="{{ path('back_end_product_delete') }}" method="POST">
            <input type="hidden" name="product_id" value="{{ product.id }}">
            <input type="submit" value="Delete">
        </form>
        
        <hr>

    {% endfor %}

{% endblock %}