<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Shop!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/main.css') }}">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div id="wrap">
            <div id="header">
                <h1>This is Shop BackEnd</h1>
                <hr>
                <div id="nav">
                    <a href="{{ path('back_end_product_list') }}">Products</a> |
                    <a href="{{ path('back_end_product_new') }}">New Product</a> ||
                    <a href="{{ path('back_end_category_list') }}">Categories</a> |
                    <a href="{{ path('back_end_category_new') }}">New Category</a>
                </div>
                <hr>
            </div>
            {% block body %}{% endblock %}
            {% block javascripts %}{% endblock %}
        </div>
    </body>
</html>
