{% extends '::frontend_base.html.twig' %}

{% block body %}

  <div class="jumbotron">
    <h1>This is shop!</h1>
  </div>

  {% set products_in_row = 4 %}
  {% set max_columns = 12 %}
  {% for i, product in products %}
    {% if i % products_in_row == 0 %}
      <div class="row">
    {% endif %}
      <div class="col-md-{{ (max_columns / products_in_row) | round }}">
        <div class="product-tile">
          <img src="{{ product.imageUrl }}" alt="{{ product.name }}">
          {{ product.name }}
          {{ product.rating|rating|raw }}
        </div>
      </div>
    {% if i % products_in_row == products_in_row - 1 %}
      </div>
    {% endif %}
  {% endfor %}
{% endblock %}
