{% extends '::frontend_base.html.twig' %}

{% block body %}
  {% include 'FrontEndBundle:partial:_header.html.twig' %}

  <div class="alert alert-info">
    {% for category in categories %}
      <a href="{{ path('front_end_category_page', {categoryName: category.name}) }}">{{ category.name }}</a>
    {% endfor %}
  </div>

  {% set products_in_row = 4 %}
  {% set max_columns = 12 %}
  {% for i, product in products %}
    {% if i % products_in_row == 0 %}
      <div class="row">
    {% endif %}
      <div class="col-md-{{ (max_columns / products_in_row) | round }}">
        <div class="product-tile">
          {% set productImage = product.imageUrl ?: asset('img/no_image.jpg') %}
          <img class="product-category-image"  src="{{ productImage }}" alt="{{ product.name }}">
          <a href="{{ path('front_end_product_page', {'id': product.id}) }}">{{ product.name }}</a>
          <div class="rating-stars">{{ product.rating|rating|raw }}</div>
          <span class="price">{{ product.price|price|raw }}</span>
        </div>
      </div>
    {% if i % products_in_row == products_in_row - 1 %}
      </div>
    {% endif %}
  {% endfor %}
{% endblock %}
