{% extends '::frontend_base.html.twig' %}

{% block body %}
    {% include 'FrontEndBundle:partial:_header.html.twig' %}
    <div class="panel panel-info">
        <h2 class="panel-heading">
            {{ product.name }}
            <span class="pull-right">{{ product.price|price|raw }}</span>
        </h2>
        <div class="row product-actions">
            <div class="col-md-8">
                <img class="product-big-image" src="{{ product.imageUrl }}" alt="{{ product.name }}">
            </div>
            <div class="col-md-4">
                <h3>{{ product.name }}</h3>
                <div class="rating-stars">{{ product.rating|rating|raw }}</div>
                <span class="price">{{ product.price|price|raw }}</span>
                <div>
                    <input type="hidden" name="selected-product" value="{{ product.id }}">
                    <button id="add-to-cart-button" class="btn btn-success">Add to cart</button>
                    <button id="get-cart-button" class="btn btn-warning">GET CART</button>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-info product-description">
        <h2 class="panel-heading">
            Description
        </h2>
        <p>{{ product.description }}</p>
    </div>
    <div class="panel panel-info product-reviews">
        <h2 class="panel-heading">
            Reviews
        </h2>
        <p>
            TODO: Here be reviews
        </p>
    </div>
{% endblock %}
