{% extends '::frontend_base.html.twig' %}

{% block body %}
    {% include 'FrontEndBundle:partial:_header.html.twig' %}
    <div class="row">
        <div class="col-md-8">
            <img src="{{ product.imageUrl }}" alt="{{ product.name }}">
        </div>
        <div class="col-md-4">
            <h3>{{ product.name }}</h3>
            <div class="rating-stars">{{ product.rating|rating|raw }}</div>
            <span class="price">{{ product.price|price|raw }}</span>
            <div>
                <input type="hidden" name="selected-product" value="{{ product.id }}">
                <button id="add-to-cart-button" class="btn btn-success">Add to cart</button>
                <button id="get-cart-button" class="btn btn-warning">GET CART</button>
            </div>
        </div>
    </div>
{% endblock %}