{% extends '@BackEnd/backend_base.html.twig' %}

{% block body %}
  {% include 'BackEndBundle:partial:_header.html.twig' %}
  <a class="btn btn-primary" href="{{ path('back_end_category_new') }}">
    New Category
  </a>
  <span>Total cateogories: {{ pagination.getTotalItemCount }}</span>
  <table class="table">
    <thead>
    <th>{{ knp_pagination_sortable(pagination, 'Id', 'category.id') }}</th>
    <th>{{ knp_pagination_sortable(pagination, 'Name', 'category.name') }}</th>
    <th>Actions</th>
    </thead>
    <tbody>
    {% for category in pagination %}
      <tr>
        <td class="col-md-1">{{ category.id }}</td>
        <td class="col-md-8">{{ category.name }}</td>
        <td class="col-md-3">
          <form action="{{ path('back_end_category_delete') }}" method="POST">
            <input type="hidden" name="product_id" value="{{ category.id }}">
            <div class="btn-group">
              <a class="btn btn-default pull-left" href="{{ path('back_end_category_edit', {'id': category.id}) }}">
                <span class="glyphicon glyphicon-edit" aria-hidden="true"> Edit</span>
              </a>
              <button class="btn btn-danger" type="submit">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"> Delete</span>
              </button>
            </div>
          </form>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}
