{% extends '::base.html.twig' %}
{% block body %}
  {% include 'BackEndBundle:partial:_header.html.twig' %}
  <a class="btn btn-primary" href="{{ path('back_end_category_new') }}">
    New User
  </a>
  <table class="table">
    <thead>
    <th>Id</th>
    <th>Name</th>
    <th>Actions</th>
    </thead>
    <tbody>
    {% for user in users %}
      <tr>
        <td>{{ user.id }}</td>
        <td>{{ user.username }}</td>
        <td>
          <a class="btn btn-default pull-left" href="{{ path('back_end_user_edit', {'id': user.id}) }}">
            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
          </a>
          <div class="pull-left">
            <form action="{{ path('back_end_user_delete') }}" method="POST">
              <input type="hidden" name="product_id" value="{{ user.id }}">
              <button class="btn btn-danger" type="submit">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
              </button>
            </form>
          </div>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}